<!DOCTYPE HTML>
<html>

<head>
    <title>edit Part</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleadd.css') }}">



    <style>
        input[type=text] {
            background-color: #f8f8f8;
            color: #282828;
        }
        
        input[type=date] {
            background-color: #f8f8f8;
            color: #282828;
        }
        
        label {
            font-size: 26px;
            font-weight: 600;
        }
        
        .button.fit,.alert.alert-success {
            font-size: 20px;
        }
    </style>

</head>

<body id="top">
    {% if message%}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
  {% endif %}
    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Boxes -->
            <div class="thumbnails">

                <div class="box">
                    <div class="inner">
                        <a href="{{ url_for('index') }}" class="button fit" data-poptrox="youtube,800x400">Home</a>
                    </div>
                </div>

                <div class="box">
                    <div class="inner">
                        <a href="{{ url_for('parts') }}" class="button fit" data-poptrox="youtube,800x400">View Parts</a>
                    </div>
                </div>
                <div class="box">
                    <div class="inner">
                        <a href="{{ url_for('addParts') }}" class="button fit" data-poptrox="youtube,800x400">Add new Part</a>
                    </div>
                </div>
                <div class="box">
                    <div class="inner">
                        <a href="{{ url_for('editParts') }}" class="button fit" data-poptrox="youtube,800x400">Edit Part</a>
                    </div>
                </div>


            </div>

        </div>


        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <form method="POST" action="{{ url_for('editParts') }}" class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="first_name" class="required">Part Number</label>
                                    <input type="text" name="Part_Number" id="first_name" />
                                </div>
                                <div class="form-input">
                                    <label for="email">Vendor</label>
                                    <input type="text" name="Vendor" id="email" />
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="phone_number">Cost</label>
                                    <input type="text" name="Cost" id="phone_number" />
                                </div>
                                <div class="form-input">
                                    <label for="chequeno">Quantity</label>
                                    <input type="text" name="Quantity" id="chequeno" />
                                </div>

                            </div>
                        </div>

                        <div class="form-submit">
                            <input type="submit" value="Submit" class="submit" id="submit" name="submit" />

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>



    <script src="{{ url_for('static', filename='js/workorder.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    


</body>

</html>