<!DOCTYPE HTML>
<html>

<head>
    <title>EditWorkOrders</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleadd.css') }}">



    <style>
        input[type=text] {
            background-color: #f8f8f8;
            color: #282828;
        }
        
        input[type=text] ,select {
            background-color: #f8f8f8;
            color: #282828;
        }
        
        input[type=date] {
            background-color: #f8f8f8;
            color: #282828;
        }
        
        label {
            font-size: 26px;
            font-weight: 600;
        }
        
        .button.fit , .alert.alert-success{
            font-size: 20px;
        }
    </style>

</head>

<body id="top">
    {% if message%}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
  {% endif %}
    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Boxes -->
            <div class="thumbnails">

                <div class="box">
                    <div class="inner">
                        <a href="{{ url_for('index') }}" class="button fit" data-poptrox="youtube,800x400">Home</a>
                    </div>
                </div>

                <div class="box">
                    <div class="inner">
                        <a href="{{ url_for('workOrders') }}" class="button fit" data-poptrox="youtube,800x400">View WorkOrders</a>
                    </div>
                </div>
                <div class="box">
                    <div class="inner">
                        <a href="{{ url_for('addOrder') }}" class="button fit" data-poptrox="youtube,800x400">Add new WorkOrder</a>
                    </div>
                </div>
                <div class="box">
                    <div class="inner">
                        <a href="{{ url_for('editOrder') }}" class="button fit" data-poptrox="youtube,800x400">EditOrder</a>
                    </div>
                </div>
                <div class="box">
                    <div class="inner">
                        <a href="{{ url_for('todaysM') }}" class="button fit" data-poptrox="youtube,800x400">Today's PM</a>
                    </div>
                </div>


            </div>

        </div>


        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <form method="POST" action="{{ url_for('editOrder') }}" class="register-form" id="register-form" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group">

                                <div class="form-input">
                                    <label for="last_name" class="required">Order_number</label>
                                    <input type="text" name="Order_number" id="last_name" />
                                </div>
                                <div class="form-input">
                                    <label for="company">Name</label>
                                    <input type="text" name="Name" id="company" />
                                </div>
                                <div class="form-input">
                                    <label for="email">Status</label>
                                    <input type="text" name="Status" id="email" />
                                </div>
                                <div class="form-input">
                                    <label for="phone_number">Repair/PM</label>
                                    <select id="Repair/PM" name="Repair/PM">
                                            <option value="Repair">Repair</option>
                                            <option value="PM">PM</option>
                                          </select>
                                </div>
                                <div class="form-input">
                                    <label for="chequeno">Due_date</label>
                                    <input type="date" name="Due_date" id="chequeno" />
                                </div>
                                <div class="form-input">
                                    <label for="chequeno">Creation__date</label>
                                    <input type="date" name="Creation__date" id="chequeno" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="blank_name">PM_date</label>
                                    <input type="date" name="PM_date" id="blank_name" />
                                </div>
                                <div class="form-input">
                                    <label for="payable">PM_frequency</label>
                                    <input type="text" name="PM_frequency" id="payable" />
                                </div>
                                <div class="form-input">
                                    <label for="payable">Priority</label>
                                    <select id="Priority" name="Priority">
                                            <option value="High">High</option>
                                            <option value="Low">Low</option>
                                            <option value="Medium">Medium</option>
                                          </select>
                                </div>
                                <div class="form-input">
                                    <label for="payable">Description</label>
                                    <input type="text" name="Description" id="Description" />
                                </div>
                                <div class="form-input">
                                    <label for="payable">Demand_cost</label>
                                    <input type="text" name="Demand_cost" id="Demand_cost" />
                                </div>
                            </div>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Submit" class="submit" id="submit" name="submit" />

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <script src="{{ url_for('static', filename='js/workorder.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    



</body>

</html>